<!DOCTYPE html>
<html>

<head>
<style>
.requires{
color:red;
}
</style>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- <link rel="shortcut icon" href="images/favicon.png" type=""> -->
  <link rel="shortcut icon" href="../images/ayurveda_icon.jpg" type="">
  <title> Ministry of Ayush </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="../css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../css/responsive.css" rel="stylesheet" />
 

</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Ministry of Ayush
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

        
		  
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding" ng-app="surveyformapp" ng-controller="surveyformcontroller">
    <form name="surveyform">
	<div class="container-fluid ">
      <div class="row">
	   
	   
	  
        <div class="col-md-2 "></div>
        <div class="col-md-8">
		
		<div class="row">
		 <div class="col-md-12" style="background-color: #62D2A2;color:white;font-size: 24px;">Primary Information</div>
		 <div class="col-md-12 clearfix">&nbsp;</div>
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Name of Ayush Doctor<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Registration No<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Copy of Registration No<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Age<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Gender<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Qualification<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Date of Appointment<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Method of Recruitment<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Salary of Ayush Doctor per Month<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Any other allowances per month<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Comparative salary of MBBS doctors per month in same category<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Leave entitlements Total No. of days eligible per year<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Renewal method of contratual appointment<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		<div class="col-md-6">
				<div class="form-group">
					<label for="Name" class="control-label col-sm-12">Annual hike of pay<span class="requires">*</span></label>
						<div class="col-sm-8">
       
					<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
				</div>
		</div>
		
		
		
		
		
		
		
		
	
		
				
		
		
		
		</div>
		
		
		  
		  
			
						
						
		
		   <div class="table table-responsive">
			<table class="table bordered-table table-responsive">
			<tr style="background-color: #62D2A2;color:white;font-size: 24px;">
				<td colspan="4">Survey Form</td>
			</tr>
			
			<tr style="background-color: #62D2A2;color:white;font-size: 20px;">
				<td colspan="4">1. Primary Information</td>
			</tr>
			<tr>
			   <td>
			        <div class="form-group">
						<label for="usr">Name of Ayush Doctor: <span class="requires">*</span></label>
						<input type="text" maxlength="100" class="form-control" id="usr" name="username" ng-model="surveyformdata.name" ng-pattern="name_pattern" required>
						<span ng-show="surveyform.username.$error.pattern" style="color: red">Please enter valid Name.</span>
					</div>
			   </td>
			   
			   <td style="display:none;">
			<label>Whether you are registered practitioner </label><br>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input form-control"  name="practitioner" ng-model="surveyformdata.practitioner" value="Yes">Yes
				</label>
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input form-control" name="practitioner" ng-model="surveyformdata.practitioner" value="No">No
				</label>
			</div>
			
			</td>
			
			<td>
			<label>Registration No : <span class="requires">*</span></label><br>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="text"  class="form-check-input form-control" name="registration_no" ng-model="surveyformdata.registration_no" required>
                     
				</label>
			</div>
			
			
			</td>
			
			
			<td>
			<label>Copy of Registration No : <span class="requires">*</span></label><br>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="file" class="form-check-input form-control" name="registration_copy" ng-model="surveyformdata.registration_copy" required>
				</label>
			</div>
			
			
			</td>
			</tr>
			<tr>
			
			
			
			   <td>
			    <div class="form-group">
						<label for="age">Age: <span class="requires">*</span></label>
						<input type="text " class="form-control num" id="age" name="age" ng-model="surveyformdata.age" maxlength="2" number required>
				</div>
			   </td>
			   
			   <td>
			   <div class="form-group">
						<label for="gen">Gender: <span class="requires">*</span></label>
						<select class="form-control" id="gen" ng-model="surveyformdata.gender" required>
						
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="transgender">Transgender</option>
						</select>
				</div>
			   </td>
			   
			   <td style="display:none;">
			   <div class="form-group">
						<label for="gen">Date of Birth: <span class="requires">*</span></label><br/>
						<input type="date" class="form-control" id="date" ng-model="surveyformdata.dateofbirth">
				</div>
			   </td>
			   
			   
			   <td>
			   <div class="form-group">
						<label for="qualification">Qualification: <span class="requires">*</span></label>
						<select name="qualification" id="qualification" class="form-control" ng-model="surveyformdata.qualification" required>
						  <option value="">Select Qualification</option>
						  <option value="Graduate">Graduate</option>
						  <option value="Post Graduate">Post Graduate</option>
						  <option value="others">Others</option>
						</select>
				</div>
			   </td>
			</tr>
			
			<tr>
			 <td>
			   <div class="form-group">
						<label for="qualification">Date of Appointment: <span class="requires">*</span></label>
						<input type="date" name="appointment_date" class="form-control" ng-model="surveyformdata.appointmentdate" required>
				</div>
			 </td>
			 
			 <td>
			   <div class="form-group">
						<label for="qualification">Method of Recruitment:<span class="requires">*</span></label>
						<select name="recruitment_method" class="form-control" ng-model="surveyformdata.recruitment_method" required>
						   <option value="">Select Recruitment Method</option>
						   <option value="Test Board">Test Based</option>
						   <option value="Interview">Interview</option>
						   <option value="Direct">Direct</option>
						
						</select>
				</div>
			 </td>
			 
			 <td colspan="2">
			   <div class="form-group">
						<label for="qualification">Salary of Ayush Doctor per Month:</label>
						<input type="text" name="salary_ayush_doctor_per_month" class="form-control num" ng-model="surveyformdata.salary_ayush_doctor_per_month" number maxlength='6'> 
						 
				</div>
			 </td>
			 
			 </tr>
			 <tr>
			  <td colspan="4">
			   <div class="form-group">
						<label for="qualification">Any other allowances per month:</label><br/>
						<form>
								<label class="checkbox-inline">
								  <input type="checkbox" value="epf">EPF
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" value="esi">ESI
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" value="esi">Special allowance
								</label>
								
								<label class="checkbox-inline">
								  <input type="checkbox" value="hra">HRA
								</label>
								
								<label class="checkbox-inline">
								  <input type="checkbox" value="hra">Hard area allowance
								</label>
								
								<label class="checkbox-inline">
								  <input type="checkbox" value="hra">DA
								</label>
								
								<label class="checkbox-inline">
								  <input type="checkbox" value="hra">Festival allowance
								</label>
								
								<label class="checkbox-inline">
								  <input type="checkbox" value="no">No allowance
								</label>
						</form>
				</div>
			 </td>
			 </tr>
			 
			 
			
			</tr>
			
			 <tr>
			 
			  <td colspan="2">
			   <div class="form-group">
						<label for="qualification">Comparative salary of MBBS doctors per month in same category:</label>
						<input type="text" name="comparative_salary_per_month" class="form-control num" ng-model="surveyformdata.comparative_salary_per_month">
				</div>
			  </td>
			  
			  <td colspan="2">
			   <div class="form-group">
						<label for="qualification">Leave entitlements Total No. of days eligible per year:</label>
						<input type="text" name="leave_entitlements_per_year" class="form-control num" ng-model="surveyformdata.leave_entitlements_per_year">
				</div>
			  </td>
			  </tr>
			  <tr>
			  
			  <td colspan="2">
			   <div class="form-group">
						<label for="Contractual appointment method of renewal">Renewal method of contratual appointment:</label>
						<select name="contractual_appointment_method" class="form-control" ng-model="surveyformdata.contractual_appointment_method">
						  <option value="">Select Method</option>
						  <option value="Quarterly">Quarterly </option>
						  <option value="Half Yearly">Half Yearly </option>
						  <option value="Yearly">Yearly </option>
						</select>
				</div>
			  </td>
			  
			  
			  <td colspan="2">
			   <div class="form-group">
						<label for="annual hike of pay">Annual hike of pay:</label><br/>
						<select name="annual_pay_hike" class="form-control" ng-model="surveyformdata.annual_pay_hike">
						  <option value="">Select pay hike</option>
						   <option value="less than 5%">less than 5%</option>
						  <option value="5%">5%</option>
						  <option value="10%">10%</option>
						  <option value="greater than 10%">greater than 10%</option>
						  <option value="No hike">No hike</option>
						</select>
				</div>
			  </td>
			 
			 
			 
			 </tr>
			
			<tr style="background-color: #62D2A2;color:white;font-size: 20px;">
				<td colspan="4">2.Questionnaire on work profile</td>
			</tr>
			<tr>
			
			<td>
			<div class="form-group">
						<label for="ddc">Name of facility with address(state):</label>
						<select name="state" class="form-control">
						  <option value="">Select State</option>
						  <option value="Uttar Pradesh">Uttar Pradesh</option>
						</select>
			</div>
			</td>
			
			<td>
			<div class="form-group">
						<label for="ddc">Facility name (PHC/CHC/DH):</label>
						<input type="text" name="facility_name" class="form-control">
			</div>
			</td>
			
			
			<td colspan="2">
			<div class="form-group">
			<label for="pq">Whether you are managing health facility as Medical Office alone:</label>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input"  name="ipdradio" ng-model="surveyformdata.ipdradio" value="Yes">Yes
				</label>
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="ipdradio" ng-model="surveyformdata.ipdradio" value="No">No
				</label>
			</div>
			</div>
			</td>
			<td style="display:none;">
			<div class="form-group">
						<label for="ddc">Adminstrative role:</label>
						<textarea name="administrative_role" class="form-control" ng-model="surveyformdata.adminstrative_role"></textarea>
			</div>
			</td>
			
			</tr>
			<tr>
			<td colspan="2">
			<div class="form-group">
						<label for="yop">Please attach copy of office order along with role and responsibilities:</label>
						<input type="file" class="form-control" id="file" name="upload_role" ng-model="surveyformdata.upload_role">
			</div>
			</td>
			
			<td colspan="2">
			<div class="form-group">
						<label for="yop">Curative Role:</label>
						<input type="text" class="form-control" id="curative_role" name="curative_role" ng-model="surveyformdata.curative_role">
			</div>
			</td>
			
			</tr>
			<tr>
			
			<td colspan="2">
			<div class="form-group">
						<label for="reg">Opd Patients per day:</label>
						<input type="text" class="form-control num" id="opd_patients_per_day" name="opd_patients_per_day" ng-model="surveyformdata.opd_patients_per_day" number>
			</div>
			</td>
			
			<td colspan="2">
			<div class="form-group">
						<label for="reg">Ipd Patients per day:</label>
						<input type="text" class="form-control num" id="ipd_patients_per_day" name="ipd_patients_per_day" ng-model="surveyformdata.ipd_patients_per_day" number>
			</div>
			</td>
			</tr>
			
			<tr>
			
			<td colspan="2">
			<div class="form-group">
						<label for="designation">Available Ayush treatment facility:</label>
						<textarea name="ayush_treatment_facility" class="form-control" ng-model="surveyformdata.ayush_treatment_facility"></textarea>
			</div>
			</td>
			
			
			<td colspan="2">
			<div class="form-group">
						<label for="designation">Availability of facilities for Ayush procedures:</label>
						<textarea name="availability_ayush_procedure" class="form-control" ng-model="surveyformdata.availability_ayush_procedure"></textarea>
			</div>
			</td>
			
			</tr>
			
			<tr>
			
			<td colspan="2">
			<div class="form-group">
						<label for="yoe">No of procedures per day:</label>
						<input type="text" class="form-control num" id="procedure_per_day" name="no_procedure_per_day" ng-model="surveyformdata.no_procedure_per_day" number>
			</div>
			</td>
			
			
			<td colspan="2">
			<div class="form-group">
						<label for="yoe">Indent of ayush medicine:</label>
						<input type="text" class="form-control num" id="indent_ayush_medicine" name="indent_ayush_medicine" ng-model="surveyformdata.indent_ayush_medicine" number>
			</div>
			</td>
			
			</tr>
			<tr>
			
			<td colspan="2">
			<div class="form-group">
						<label for="yoe">Whether given medicine is sufficient to run the institution:</label>
						<br/>
						<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="medicine_suff_run_ins_status" id="medicine_suff_run_ins_status" ng-model="surveyformdata.medicine_suff_run_ins_status" value="Yes">Yes
			    </label>
				
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="medicine_suff_run_ins_status" id="medicine_suff_run_ins_status_no" ng-model="surveyformdata.medicine_suff_run_ins_status" value="No">No
				</label>
			</div>
			</div>
			</td>
			
			<td colspan="2">
			<div class="form-group" style="display:none" id="other_details">
						<label for="yoe">If no,give the details:</label>
						<input type="text" class="form-control form-control" id="other_details" name="other_details" ng-model="surveyformdata.other_details" number>
			</div>
			</td>
			
			
			</tr>
			
			
			
			<tr style="background-color: #62D2A2;color:white;font-size: 20px;">
				<td colspan="4">3.Questionnaire on National Programs</td>
			</tr>
			
			<tr>
			<td colspan="2">
			<div class="form-group">
				<label for="hphc">Whether Ayush Doctors under NHM is involved in National Programs</label><br/>
						<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="ayush_doc_nhm_involve_status" ng-model="surveyformdata.ayush_doc_nhm_involve_status" value="Yes">Yes
				</label>
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="ayush_doc_nhm_involve_status" ng-model="surveyformdata.ayush_doc_nhm_involve_status" value="No">No
				</label>
			</div>
			
			
			</div>
			</td>
			
			
			
			<td colspan="2">
			<div class="form-group">
						<label for="pincode">If yes,specify the role</label>
						<input type="text" class="form-control" id="specify_role" name="specify_role" ng-model="surveyformdata.specify_role">
			</div>
			
			</td>
			
			</tr>
			<tr>
			
			<td colspan="2">
			<div class="form-group">
						<label for="pincode">No of national programs managed by the Ayush Doctors in implementation and monitoring</label>
						<input type="text" class="form-control" id="ayush_doctor_national_program" name="ayush_doctor_national_program" ng-model="surveyformdata.ayush_doctor_national_program">
			</div>
			
			</td>
			
			
			<td colspan="2">
			<div class="form-group">
						<label for="pincode">Enlisting of the national programs</label>
						<br/><br/>
						<select name="national_program_list" id="national_program_list" class="form-control" ng-model="surveyformdata.national_program_list">
						  <option value="">Select Program</option>
						  <option value="National Program1">National Program1</option>
						  <option value="National Program2">National Program2</option>
						  
						</select>
			</div>
			
			</td>
			
			</tr>
			<tr>
			
			
			<td>
			<label>Any renumeration is given to ayush doctors for monitoring national programs</label><br>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="renum_ayush_doc_mon" ng-model="surveyformdata.renum_ayush_doc_mon" value="Yes">Yes
				</label>
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="renum_ayush_doc_mon" ng-model="surveyformdata.renum_ayush_doc_mon" value="No">No
				</label>
			</div>
			
			</td>
			
			<td>
			<label>Are Ayush Doctors doing any night duties in taluk hospitals,district hospitals or other institutions</label><br>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="doc_night_duty_status" ng-model="surveyformdata.doc_night_duty_status" value="Yes">Yes
				</label>
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="doc_night_duty_status" ng-model="surveyformdata.doc_night_duty_status" value="No">No
				</label>
			</div>
			
			</td>
			
			<td>
			<label>Whether Ayush Doctors legally allowed to precribe allopathic medicines in your state</label><br>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="legally_prec_all_med" ng-model="surveyformdata.legally_prec_all_med" value="Yes">Yes
				</label>
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="legally_prec_all_med" ng-model="surveyformdata.legally_prec_all_med" value="No">No
				</label>
			</div>
			
			</td>
			
			
			<td>
			<div class="form-group">
						<label for="pincode">Please attach copy of order</label>
						<input type="file" class="form-control" id="order_attach_copy" name="order_attach_copy" ng-model="surveyformdata.order_attach_copy">
			</div>
			
			</td>
			
			</tr>
			
			<tr>
			<td colspan="4">
			
			
			<div class="form-group">
						<label for="noofas">Any other problem related to the functioning of co-located Ayush facilities.</label>
						<br/>
						<textarea name="any_other_problem" cols="100" class="form-control" ng-model="surveyformdata.any_other_problem"></textarea>
			</div>
			 
			</td>
			
			
			
			
			
			</tr>
			
			<tr
			<tr style="background-color: #62D2A2;color:white;font-size: 20px;">
				<td colspan="4"><button class="btn btn-primary float-right" type="button" style="background-color: white; color: black;" ng-click="savesurveyform()">Submit</button></td>
			</tr>
			
			</table>
			</div>
			
			
        </div>
		<div class="col-md-2"></div>
      </div>
    </div>
	</form>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              Beatae provident nobis mollitia magnam voluptatum, unde dicta facilis minima veniam corporis laudantium alias tenetur eveniet illum reprehenderit fugit a delectus officiis blanditiis ea.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>
              Links
            </h4>
            <div class="footer_links">
              <a class="" href="index.html">
                Home
              </a>
              <a class="active" href="about.html">
                About
              </a>
              <a class="" href="departments.html">
                Departments
              </a>
              <a class="" href="doctors.html">
                Doctors
              </a>
              <a class="" href="contact.html">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col ">
          <h4>
            Newsletter
          </h4>
          <form action="#">
            <input type="email" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Ministry of Ayush<br><br></a>
            &copy; <span id="displayYear"></span>Provisional Survey conducted by 
            <a href="https://ayush.gov.in/">Ministry of Ayush</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
  
  <!-- popper js -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"> -->
  <!-- </script> -->
  <!-- bootstrap js -->
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <script type="text/javascript" src="../js/angular_1.8.2.js"></script>
  <script type="text/javascript" src="../js/popper.min.js"></script>
  
  <!-- owl slider -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"> -->
  <!-- </script> -->
  <!-- custom js -->
  <script type="text/javascript" src="../js/custom.js"></script>
  <!-- Google Map -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"> -->
  <!-- </script> -->
  <!-- End Google Map -->
  
  <script type="text/javascript" src="../directive/number_directive.js"></script>
  <script type="text/javascript" src="../controller/surveyformapp.js"></script>
  <script type="text/javascript" src="../controller/surveyformcontroller.js"></script>
  <script>
   $(document).ready(function() {
        $(document).on('keypress', '.num', function (event) {
            return isNumber(event, this)
        });
    });
	
	  $(document).ready(function() {
        $(document).on('keypress', '.char', function (event) {
            return ValidateAlpha(event, this)
        });
		
		$(document).on("click","#medicine_suff_run_ins_status",function(){
		
		 var cvalue = $(this).val();
		 if(cvalue=='Yes'){
		 $("#other_details").hide();
		 }else{
		  $("#other_details").hide();
		 }
		});
		
		
		$(document).on("click","#medicine_suff_run_ins_status_no",function(){
			var cvalue = $(this).val();
			if(cvalue=='No'){
			$("#other_details").show();
			}else{
			$("#other_details").show();
			}
		})

    });

  </script>
  
  
</body>

</html>